<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta charset="UTF-8">
        <title>{% block title %}Inside Eevee{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/inside.eevee.min.css') }}" />
    </head>
    <body class="bg-light">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
            <div class="container">
                <a class="navbar-brand" href="/">Inside @ Eevee</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="<redacted>">Code</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('coffee.wildcard_get') }}">Coffee</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="<redacted>">Logs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('apps.allAppsPage') }}">Apps</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('ingest.ingest_overview') }}">Ingest</a>
                        </li>
                    </ul>
                </div>
                <span id="navbar-user-info">
                    <span class="speech-bubble">
                        Hello, {{ gitlabDisplayName or '@' + gitlabUsername }}!
                    </span>
                    <img src="{{ gitlabAvatar }}" />
                </span>
            </div>
        </nav>
        <div class="container" id="main">
            {% block header %}{% endblock %}
            {% block content %}{% endblock %}
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
        <script>
            const inside = {
              csrfToken: '{{ csrf_token() }}'
            };
        </script>
        <script src="{{ url_for('static', filename='js/inside.min.js') }}"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>